@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gery: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

nav {
    background: #4CAF50;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-top: 15px;
}

.menu li a , li span {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    transition: 10s;
}

.menu li a:hover , li span:hover {
    background: #46a149;
    z-index: 99;
}

@keyframes example {
    0% {
        transform: rotate(0);
    }
    50%{
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* navbar responsive */
#menu {
    display: none;
}

#close {
    display: flex;
}

#menu-icon {
    display: none;
}

.nav-con-res .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-con-res .logo a {
    margin-top: 12px;
}

.nav-con-res .logo li {
    list-style: none;
}

.nav-con-res .logo li span {
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    margin-top: 8px;
}

.menu-res {
    list-style: none;
    margin: 0px;
    padding: 0;
    height: 80px;
}

.menu-res li a {
    width: 100%;
    display: flex;
    color: #fff;
}

/* header */
header {
    margin: 100px 0;
}

header .btn {
    background-color: #23b1e0;
    font-size: 18px;
}

header .btn:hover {
    background-color: #008CBA;
}

header h3 {
    font-weight: bold;
}

header p {
    margin: 50px 0;
    font-size: 18px;
}

.card-main {
    border-radius: 25px;
}

.card-main .card-img {
    border-radius: 25px;
}

/* section */
.card-cal {
    width: 85%;
    margin: auto;
    padding: 1rem;
}

#type1 {
    display: block;
}

#type2 {
    display: none;
}

.elc-type {
    margin: 20px 0 10px;
    font-size: 18px;
}

.elc-menu .form-label {
    margin: 20px 0 10px;
    font-size: 18px;
}

.menu-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.result-menu .form-label {
    margin: 40px 0 10px;
    font-size: 18px;
}

.txt-info {
    padding: 5px 0 0 5px;
}

.result-check {
    display: flex;
}

.result-check .input-result {
    width: 75%;
}

.result-check .text-price {
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.elc-price .row {
    margin-bottom: 20px;
}

/* footer */
footer {
    height: 75px;
    background-color: #4CAF50;
}

@media screen and (max-width: 431px) {
    /* navbar */
    .nav-con .logo a {
        font-size: 20px;
    }

    .nav-con .menu a {
        display: none;
    }

    /* navbar responsive  */
    #menu-icon {
        display: flex;
    }

    .nav-con-res .logo a {
        font-size: 20px;
    }
    
    .nav-con-res .menu-res {
        font-size: 16px;
    }

    .type {
        font-size: 18px;
    }
}